# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.vscode/launch.json
.vscode/settings.json
vendor/modules.txt
vendor/go.uber.org/goleak/.gitignore
vendor/go.uber.org/goleak/.golangci.yml
vendor/go.uber.org/goleak/CHANGELOG.md
vendor/go.uber.org/goleak/doc.go
vendor/go.uber.org/goleak/leaks.go
vendor/go.uber.org/goleak/LICENSE
vendor/go.uber.org/goleak/Makefile
vendor/go.uber.org/goleak/options.go
vendor/go.uber.org/goleak/README.md
vendor/go.uber.org/goleak/testmain.go
vendor/go.uber.org/goleak/tracestack_new.go
vendor/go.uber.org/goleak/internal/stack/doc.go
vendor/go.uber.org/goleak/internal/stack/scan.go
vendor/go.uber.org/goleak/internal/stack/stacks.go
coverage.txt
